// E X T E N D S • M O D U L E


.btn-container {
    position: relative;
    display: block;
    margin-top: rems(14px);
}

a.button {
    @include transition-animation($_properties: (background, border-color, color, transform, box-shadow));

    position: relative;
    display: inline-block;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    background: $btn-bg-1;
    color: $btn-color-1;
    font-size: rems(11px);
    font-weight: bold;
    letter-spacing: rems(1px);
    text-transform: uppercase;
    text-decoration: none;

    &.ghost {
        border: 2px solid $btn-bg-1;
        background: transparent;
        color: $btn-bg-1;

        &.white {
            border-color: #ffffff;
            color: #ffffff;
        }
    }

    &.cta {
        font-size: rems(14px);

        @include breakpoint(screen 1000px) {

            font-size: rems(16px);
        }
    }

    &:hover {
        background-color: lighten($btn-bg-1, 6);
        border-color: lighten($btn-bg-1, 6);
        box-shadow: 0 4px 2px -3px rgba(#000000, 0.35);
        transform: translateY(-2px);

        &.ghost {
            color: $btn-color-1;
            border-color: lighten($btn-bg-1, 6);

            &.white {
                color: $btn-bg-1;
                background-color: $btn-color-1;
                border-color: $btn-color-1;
            }
        }
    }
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.clear-l {
    clear: left;
}

.clear-r {
    clear: right;
}

.center {
    text-align: center;
}

.middle {
    vertical-align: middle;
}

.round {
    border-radius: 100%;
}