// V I D E O • S T R I P E

#video {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #48494b;
    color: #ffffff;

    h2 {
        @include vw-unit(48px, $level-3);
        color: #ffffff;
        margin-bottom: 1.4em;
    }

    .video-player-icon {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 150px;
        height: 150px;
        background-color: $link-color-1;
        border-radius: 100%;
        transition: all ease-in-out 0.24s;

        i,
        svg {
            position: absolute;
            top: 50%;
            left: 50%;
            margin: auto;
            color: #ffffff;
            font-size: 4rem;
            transition: all ease-in-out 0.24s;
            transform: translate(-36%, -50%);
        }

        // &:before {
        //     content: '';
        //     position: absolute;
        //     top: 50%;
        //     left: 50%;
        //     width: 0;
        //     height: 0;
        //     background-color: transparent;
        //     border: solid transparent;
        //     border-width: 24px 0 24px 48px;
        //     border-left-color: #ffffff;
        //     transition: all ease-in-out 0.24s;
        //     transform: translate(-35%, -45%);
        // }

        &:hover {
            // background-color: #002579;
            background-color: #e50000;
            box-shadow: inset 0 0 0 6px #ffffff;

            i,
            svg {
                transform: translate(-36%, -50%) scale(1.15);
            }

            // &:before {
            //     transform: translate(-35%, -45%) scale(1.15);
            // }
        }
    }

    p {
        display: block;
        margin: 2em auto 1em;
        max-width: 450px;
        text-align: center;
        font-size: rems(24px);
        color: #d4d4d4;
    }
}
